.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.container-fluid {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}